---
http_interactions:
- request:
    method: get
    uri: http://feedjira.com/blog/feed.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      last-modified:
      - Fri, 07 Oct 2016 14:37:00 GMT
      etag:
      - '"393e-53e4757c9db00-gzip"'
      content-type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xmlns="http://www.w3.org/2005/Atom">
          <title>Feedjira Blog</title>
          <subtitle>A Blog for Feedjira</subtitle>
          <id>http://feedjira.com/blog</id>
          <link href="http://feedjira.com/blog"/>
          <link href="http://feedjira.com/blog/feed.xml" rel="self"/>
          <updated>2015-06-05T00:00:00Z</updated>
          <author>
            <name>Jon Allured</name>
          </author>
          <entry>
            <title>Feedjira Two-Point-Oh</title>
            <link rel="alternate" href="http://feedjira.com/blog/2015/06/05/feedjira-two-point-oh.html"/>
            <id>http://feedjira.com/blog/2015/06/05/feedjira-two-point-oh.html</id>
            <published>2015-06-05T00:00:00Z</published>
            <updated>2015-04-17T16:16:07-05:00</updated>
            <author>
              <name>Jon Allured</name>
            </author>
            <content type="html">&lt;p&gt;About a year ago, I took Feedjira to &lt;a href="http://feedjira.com/blog/2014/03/17/feedjira-goes-one-point-oh.html"&gt;version 1.0&lt;/a&gt; and today I&amp;rsquo;m releasing
        version 2.0. Not much has changed actually - the biggest difference is that
        &lt;code&gt;curb&lt;/code&gt; has been replaced with &lt;code&gt;faraday&lt;/code&gt;. For many users, upgrading to version
        2.0 won&amp;rsquo;t require anything more than a &lt;code&gt;bundle update fee[...]
